body {
	font-family: sans-serif;
}
img {
	width: 120px;
	height: 40px;
	padding-left: 10px;
}
.container {
	display: grid;
	grid-template-columns: 12% 1fr 1fr 1fr 1fr 12%;
	grid-template-rows: 65px 90% 300% 350% 350%
}
.header {
	width: 100%;
	grid-column: 1/7;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.start-get {
	padding-right: 16px;
	color: #999;
	font-size: 14px;
}
.login {
	padding: 0 16px;
}
.start-new {
	color: #0098ab;
	font-weight: bold;
	padding-right: 16px;
	border-right: 1px solid #999;
}
.main-1 {
	grid-column: 2/6;
}
.main-2 {
	grid-row: 3/4;
	grid-column: 2/6;
}
.section {
	grid-row: 4/5;
	grid-column: 2/6;
}
.footer {
	grid-row: 5/6;
	grid-column: 1/7;
}
.main-1 {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.main-1 .search {
	width: 60%;
	display: flex;
	flex-direction: column;
	margin-right: 5%;
}
.search .text-title {
	font-size: 42px;
	font-weight: bold;
	color: #2e3e48;
}
.search .text-guide {
	font-size: 20px;
	font-weight: normal;
	color: #2e3e48;
}
.input-type input {
	line-height: 28px;
	width: 60%;
	border-radius: 8px;
	font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 5%;
    color: #2e3e48;
    font-weight: 550;
}
.input-type .btn-search {
	background-color: #f65858;
	width: 30%;
	padding: 12px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
	font-size: 16px;
}
.review {
	flex-basis: 1;
    flex-grow: 1;
    box-sizing: border-box;
}
.review img {
	background-size: cover;
    /*background-position: center 50%;*/
    max-width: 600px;
    /*border-radius: 10px;*/
/*    border-top-left-radius:20px;
    border-bottom-left-radius: 40px;*/
    width: 100%;
    height: 100%
}